.container_add_store{
    background-color: rgb(255, 255, 255);
    width: 410px;
    padding: 30px;
    margin: 25px auto;
    height: 870px;
    font-family: Arial, Helvetica, sans-serif;
}
.container_add_store h2{
    text-align: center;
}
.circle_com_add_store{
    text-align: center;
}
.circle1_com_add_store{
    margin-top: 5px;
    height: 100px;
    width: 100px;
    background-color: #EFF9FC;
    border-radius: 50%;
    display: inline-block;
}
.content_com_add_store p{
    font-size: 55px;
    margin-top: -85px;
}
.content_add_store{
    text-align: center;
}
.content_add_store img{
    border: 3px solid #D6F3FA;
}
.button_add_store{
    position: relative;
    padding: 10px 15px;
    margin-top: 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #88c1d4;
    color: white;
    overflow: hidden;
}
.button_add_store input[type="file"]{
    cursor:pointer;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(3);
    opacity: 0;
}
.icon_upload_add_store{
    font-style: normal;
    display: flex;
}
.add_store_info{
    text-align: left;
    font-size: 14.5px;
}
.add_store_info .info{
    margin: 10px 0 10px 0;
}
.add_store_info .info .info_name{
    margin-bottom: 5px;
}
.add_store_info input[type=text], input[type=email], input[type=url]{
    font-weight: lighter;
    width: 93.5%;
    padding: 6px 11px;
    margin: 5px 0;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid grey;
    background-color: white;
}
.add_store_info select{
    font-weight: lighter;
    width: 99.2%;
    padding: 6px 6px;
    margin: 5px 0;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid grey;
    background-color: white;
}
.add_store_info input[type=text]:focus, 
.add_store_info input[type=email]:focus, 
.add_store_info input[type=url]:focus{
    outline: none;
}
.add_store_info select:focus{
    outline: none;
}
.save_btn_add_store{
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-block; 
    background-color: #6CA7BA; 
    border: none; 
    border-radius: 8px; 
    color: white; 
    font-size: 16px; 
    height: 28px; 
    cursor: pointer; 
    text-decoration: none; 
    outline: none;
    padding-left: 22px;
    padding-right: 22px;
    font-weight: bold;
}
.save_btn_add_store:hover{
    background-color: #63a0b4;
}
.save_btn_add_store:active{
    background-color: #63a0b4;
}